/* @import "reset.css"; */
@import "fonts.css";

div, section, header, footer, p, h1 {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard'
}

.global-width {
    font-weight: 100;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    font-weight: 700;
}

#main-title {
    font-weight: 800;
}

#subtitle {
    font-size: 2rem;
}
