/* @import "reset.css"; */
@import "fonts.css";

:root {
    font-family: 'Pretendard', serif;
    --font: 'Pretendard', serif;
    --color-white: #fff;
}

div,
section,
header,
footer,
p,
h1,
h2,
h3 {
    box-sizing: border-box;
}

img { width: 100%; }

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f5f5f7;
}

body{-ms-overflow-style:none; }
body::-webkit-scrollbar { display:none; }

.section {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

header {
    position: absolute;
    width: 100%;
}


#img-container {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: brightness(70%);
    /*background-size: cover;*/
    /* background-image: url(../img/photo-1619777709778-f2629bc94a6c.avif); */
}

#black{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 999;
    opacity: 1;
    transition: all 3s;
}

#mainImage {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    object-fit: cover;
    transition: all 1s;
    opacity: 1;
    /* background-size: cover; */
}

#mainTitle {
    width: fit-content;
    /* display: inline-block; */
    position: absolute;
    /* (50%, 50%) → (-50%, -50%) 가운데 정렬 */
    /* transform: translate(-50%, -50%); */
    box-sizing: border-box;
    font-weight: 800;
    cursor: default;
}

.main-title-element {
    position: absolute;
    width: max-content;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0);
    transition: 2s;
}

/* #main-title span:hover {
    color: var(--color-white);
    font-size: 13rem;
} */

.project-information {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 10px; */
    top: 7.313rem;  /* 177px */
    /* margin-left: 10.556vw; */
}

#teamName,
#projectName,
#introduction {
    margin: 0;
}

#teamName {
    margin-bottom: 1em;
    color: rgba(255, 255, 255, 50%);
    font-size: 1.25rem;
    font-weight: 400;
}

#projectName{
    margin-bottom: 20px ;
    width: fit-content;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    z-index: 100;
    color: var(--color-white);
    letter-spacing: 4px;
    cursor: pointer;
}

#introduction {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.position {
}

.inner-padding {
    margin: 40px 0;
    display: block;
}

.job-group {
    margin: 0;
    color: rgba(255, 255, 255, 50%);
    font-weight: 300;
}

.position > ul {
    margin: 0;
    padding: 0;
}

.developer-name {
    margin: 0;
    padding-top: 6px;
    width: fit-content;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 85%);
    /*display: inline-block;*/
    position: relative;
}
.developer-name::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
}
.developer-name:hover {
    cursor: pointer;
}
.developer-name:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.global-width {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-module-container { margin: 6vw 0 2vw; }

.headline {
    margin: 50px 0 30px;
    font-weight: 800;
    font-size: 2.2rem;
}

.card-wrapper {
    display: grid;
    /* 요소 사이 간격 맞춤 (양 끝 무시)*/
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 100%;  memo */
    box-sizing: border-box;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 2fr);
}

.main-city-card {
    position: relative;
    background-size: cover; /*memo*/
    width: 100%;
    height: 300px;
    padding: 32px 24px;
    border-radius: 2.2rem;
    background-size: 100%;
    justify-content: space-around;
    /* background-color: bisque; */
    /* background-position: 50%;  background-image 위치 조정 */
    background-repeat: no-repeat;
    overflow: hidden;
    /*box-shadow: inset 10px rgba(0, 0, 0, 0.8);*/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform ease-out .2s;
}

.main-city-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.main-city-card-title {
    /*텍스트 default 여백 없앰*/
    margin: 0 0 8px; 
    font-size: 2rem ;
    font-weight: 700;
    color: var(--color-white);
}

.main-city-card-desc {
    font-size: 1.2rem;
    color: var(--color-white);
}

.fade {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 565px; */
    width: 100%;
    /* height: 300px; */
    height: 100%;
    padding: 42px;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.fade:hover {
    transition: .3s;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

/* hover의 반대 (js- addEventListner mouseout) */
.fade:not(:hover) {
    transition: .5s;
}

.fade-title,
.fade-desc {
    color: var(--color-white);
    text-align: left;
    cursor: default;
}

.fade-title { font-size: 1.3rem; }

.fade-desc {
    line-height: 1.8rem;
    font-size: 1rem;
    word-break: keep-all;
}


.tag-container {
    display: flex;
    margin-bottom: 1rem;
}

.tag {
    position: relative;
    width: 75px;
    height: 40px; /* 16 x 2.5(rem) = 40 */
    margin: 0 5px 0;
    border-radius: 40px;
    background-color: #DCE3E8;
    appearance: none;
    cursor: pointer;
}

#cardSeoul {
    background-size: cover;
    background-position: 0 80%;
    background-image: url('../img/photo-1597548898542-78eeb7bfaf40.avif');
}
#cardGyeonggi {
    background-size: cover;
    background-position: 0 50%;
    background-image: url('../img/photo-1569225148599-aa8dca351c37.avif');
}
#cardSokcho {
    background-size: cover;
    background-position: 0 40%;
    background-image: url('../img/photo-1660782558359-652078942ad1.avif');
}
#cardBusan {
    background-size: cover;
    background-position: 0 80%;
    background-image: url('../img/photo-1601561831532-6870badf3e29.avif');
}

.tag-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sort-by {
    margin: auto 0 0 auto;
    justify-content: flex-end;
    /* 오른쪽 정렬 */
}

select {
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
    /*appearance: none;*/
    height: 40px;
    margin: 0;
    padding: 0.6em 0.8em 0.5em 0.8em;
    border: none;
    border-radius: 2rem;
    font-family: var(--font);
    font-size: .9rem;
    /*color: #888;*/
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
}

.list-container {
    /*position: relative;*/
    width: 100%;
}

#listElement {
    position: relative;
    /*padding: 12px 16px;*/
    padding : 0;
    margin: 0;
    border: 0.0625rem solid #D7E2EB;
    border-radius: 1rem;
    background-color: #fff;
}

.restaurant-wrapper{
    display: flex;
    position: absolute;
    width: 100%;
    height: 66px;
    /* background-color: aqua; */
    /* opacity: .2; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.restaurant-wrapper:first-of-type {
    border-radius: 1rem 1rem 0 0;
}
/* why???? */
.restaurant-wrapper:nth-last-of-type(2) {
    border-radius: 0 0 1rem 1rem;
}
.restaurant-wrapper:hover {
    transition: .5s;
    background-color: #ff7100;
    opacity: 1;
}

.restaurant-wrapper:hover .find-restaurant {
    transition: .5s;
    opacity: 1;
}
.restaurant-wrapper:not(:hover) {
    transition: .3s;
}

.find-restaurant {
    margin: 0;
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
}
.find-restaurant:hover {
    opacity: 1;
}

.tourist-attraction-list {
    display: flex;
    padding: 16px 20px 12px;
    cursor: pointer;
    /* width: 60vw; */
    /* ::marker 없앰 */
    list-style: none;
    /* border-bottom: solid 1px #cecece; */
    flex-direction: row;
    /* justify-content: center; */
}

.list-number-wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-right: 24px;
    flex-direction: column;
    justify-content: center;
}

.list-number {
    /* position: absolute; */
    font-size: 2rem;
}

.tourist-attraction-ID,
.tourist-attraction-StarRating { margin: 0; }

.auctionIDtourist-attraction-ID {
    font-size: 1.2rem;
    /*font-weight: bold;*/
    /* margin: 16px 0 5px; */
}

.tourist-attraction-StarRating {
    /* margin: 0 0 12px; */
    font-size: .9em;
    color: #808080;
    font-weight: 300;
}

.solid-line {
    margin: 0 20px;
    /*padding: 0 20px;*/
    /* width: 1500px; */
    border: 0;
    border-top: 1px solid #cecece;
}
.solid-line:nth-last-of-type(1) { display: none; }

nav#scrollTop {
    /*text-align: center;*/
    margin: 0;
    padding: 0;
}

/*a.scroller {*/
/*    cursor: pointer;*/
/*}*/
.floating-btn {
    position: fixed;
    display: flex;
    width: fit-content;
    height: 44px;
    padding: 10px 20px;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0);
    justify-content : center;
    align-items : center;
    background-color: var(--color-white);
    border: 2px solid #000;
    border-radius: 100px;
    transition: all .2s linear;
    cursor: pointer;
}
.floating-btn:hover {
    background-color: #000;
}
.floating-btn:hover .btn-text {
    color: var(--color-white);
}
.floating-btn:hover .material-symbols-outlined {
    color: var(--color-white);
}

.material-symbols-outlined {
    margin-right: 4px;
}
.btn-text {
    padding-right: 4px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    user-select: none;
    align-items: center;
}


footer {
    width: 100%;
    height: 100px;
    border-top: #cecece 1px solid;
}

@media only screen and (min-width: 913px) {
    .project-information {
        margin-left: 10.556vw;
        height: 80%;  /* 상하 위치 조정 */
    }

    #mainTitle {
        top: 55%;
        left: 65%;
        font-size: 20rem;
    }
}

@media only screen and (max-width: 912px) {

    .global-width {
        /* width: 100%; */
        margin: 0 auto;
    }

    .main-module-container {
        /* margin: 0 auto;
        box-sizing: border-box;
        display: block; */
    }

    .headline {
        /* width: 480px; */
        /* margin: 25px auto; */
    }

    .team-developers {
        text-align: center;
    }
    
    .developer-name {
        /* width: auto; */
        margin: 0 auto;
    }

    .project-information {
        height: 80%;  /* 상하 위치 조정 */
    }

    #mainTitle {
        width: 330px;  /* width를 span 요소의 길이로 설정해야 transform 속성이 적용 됨. 이유는 모름.. */
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12rem;
    }

    .card-wrapper {
        width: 480px;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        margin: 0 auto;
    }

    .main-city-card {
        margin: 0 auto;
        /* width: calc(100% * 0.7); */
        height: 600px;
    }

    .project-information{
        /* position: absolute; */
        width: 100%;
    }

    .project-introduction {
        margin: 0 auto;
        text-align: center;
    }
    
}

@media only screen and (max-width: 514px) { 
    .global-width {
        padding: 0;
    }

    #img-container {
        width: 100%;
        height: 120%;
    }
    
    .card-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 16px;
        /* grid-row: 0; */
        width: 100%;
    }

    .main-city-card {
        height: 600px;
        border-radius: 0;
        padding: 0;
    }
    
    .project-information{
        /* position: absolute; */
        width: 100%;
        align-items: center;
    }

    #mainTitle {
        width: 220px;  /* width를 span 요소의 길이로 설정해야 transform 속성이 적용 됨. 이유는 모름.. */
        font-size: 8rem;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .project-introduction {
        margin: 0 auto;
        text-align: center;
    }
    
    .team-developers {
        text-align: center;
    }
    
    .developer-name {
        margin: 0 auto;
    }

    .main-city-card-typo-wrapper {
        padding: 64px 48px 0;
    }

    .main-city-card-title {
        font-size: 2.875rem;
        font-weight: 800;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .main-city-card-desc {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
    }

    .fade {
        height: 600px;
    }

    .main-module-container {
        width: 100%
    }

    .image-container {
        width: 100%;
    }

    #main-image {
        width: 100%;
    }

}