/* @import "reset.css"; */
@import "fonts.css";

:root {
    font-family: 'Pretendard', serif;
    --font: 'Pretendard', serif;
    --color-white: #fff;
}

div,
section,
header,
footer,
p,
h1,
h2,
h3 {
    box-sizing: border-box;
}

img { width: 100%; }

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f5f5f7;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

header {
    position: absolute;
    width: 100%;
}

.logo-wrapper {
    position: relative;
    height: 60px;
    text-align: center;
}

#logo{
    position: absolute;
    width: 100%; /* 로고 가운데 정렬 */
    font-weight: 200;
    z-index: 999;
    color: var(--color-white);
    cursor: default;
    /* display: inline-block; */
}

#img-container {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
    filter: brightness(70%);
    /*background-size: cover;*/
    /* background-image: url(../img/photo-1619777709778-f2629bc94a6c.avif); */
}

#black{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 999;
    opacity: 1;
    transition: all 3s;
}

#mainImage {
    display: block;
    width: 100%;
    height: 100vh;
    filter: brightness(70%);
    object-fit: cover;
    transition: all 1s;
    opacity: 1;
}

#mainTitle {
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 65%;
    /* (50%, 50%) → (-50%, -50%) 가운데 정렬 */
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-weight: 800;
    cursor: default;
}

.main-title-element {
    position: absolute;
    width: max-content;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0);
    font-size: 20rem;
    transition: 2s;
}

/* #main-title span:hover {
    color: var(--color-white);
    font-size: 13rem;
} */

.team {
    position: absolute;
    top: 73.6%;
    display: inline-block;
    margin-left: 114px;
}
.team-developers {
    margin-bottom: 40px;
}
.job-group {
    margin: 0 0 8px 0 ;
    color: rgba(255, 255, 255, 50%);
    font-weight: 300;
}
.team-developers > ul {
    margin: 0;
    padding: 0;
}
.developer-name {
    margin: 0 0 6px 0;
    width: fit-content;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 85%);
    /*display: inline-block;*/
    position: relative;
}
.developer-name::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
}
.developer-name:hover {
    cursor: pointer;
}
.developer-name:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.global-width {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-module-container { margin: 6vw 0 2vw; }

.headline {
    margin: 50px 0 30px;
    font-weight: 800;
    font-size: 2.2rem;
}

.card-wrapper {
    display: grid;
    /* 요소 사이 간격 맞춤 (양 끝 무시)*/
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 2fr);
}

.main-city-card {
    position: relative;
    width: 565px;
    height: 300px;
    padding: 32px 24px;
    border-radius: 2.2rem;
    background-size: 100%;
    justify-content: space-around;
    /* background-color: bisque; */
    /* background-position: 50%;  background-image 위치 조정 */
    background-repeat: no-repeat;
    overflow: hidden;
    /*box-shadow: inset 10px rgba(0, 0, 0, 0.8);*/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform ease-out .2s;
}

.main-city-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.main-city-card-title {
    /*텍스트 default 여백 없앰*/
    margin: 0 0 8px; 
    font-size: 2rem ;
    font-weight: 700;
    color: var(--color-white);
}

.main-city-card-desc {
    font-size: 1.2rem;
    color: var(--color-white);
}

.fade {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 565px;
    height: 300px;
    padding: 42px;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.fade:hover {
    transition: .3s;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

/* hover의 반대 (js- addEventListner mouseout) */
.fade:not(:hover) {
    transition: .5s;
}

.fade-title,
.fade-desc {
    color: var(--color-white);
    text-align: left;
    cursor: default;
}

.fade-title { font-size: 1.3rem; }

.fade-desc {
    line-height: 1.8rem;
    font-size: 1rem;
    word-break: keep-all;
}


.tag-container {
    display: flex;
    margin-bottom: 1rem;
}

.tag {
    position: relative;
    width: 75px;
    height: 40px; /* 16 x 2.5(rem) = 40 */
    margin: 0 5px 0;
    border-radius: 40px;
    background-color: #DCE3E8;
    appearance: none;
    cursor: pointer;
}

#cardSeoul {
    background-position: 0 80%;
    background-image: url('../img/photo-1597548898542-78eeb7bfaf40.avif');
}
#cardGyeonggi {
    background-position: 0 50%;
    background-image: url('../img/photo-1569225148599-aa8dca351c37.avif');
}
#cardSokcho {
    background-position: 0 40%;
    background-image: url('../img/photo-1660782558359-652078942ad1.avif');
}
#cardBusan {
    background-position: 0 80%;
    background-image: url('../img/photo-1601561831532-6870badf3e29.avif');
}

.tag-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sort-by {
    margin: auto 0 0 auto;
    justify-content: flex-end;
    /* 오른쪽 정렬 */
}

select {
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
    /*appearance: none;*/
    height: 40px;
    margin: 0;
    padding: 0.6em 0.8em 0.5em 0.8em;
    border: none;
    border-radius: 2rem;
    font-family: var(--font);
    font-size: .9rem;
    /*color: #888;*/
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
}

.list-container {
    width: 100%;
}

#listElement {
    position: relative;
    /*padding: 12px 16px;*/
    padding : 0;
    margin: 0;
    border: 0.0625rem solid #D7E2EB;
    border-radius: 1rem;
    background-color: #fff;
}

.restaurant-wrapper{
    display: flex;
    position: absolute;
    width: 100%;
    height: 66px;
    /* background-color: aqua; */
    /* opacity: .2; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.restaurant-wrapper:first-of-type {
    border-radius: 1rem 1rem 0 0;
}
/* why???? */
.restaurant-wrapper:nth-last-of-type(2) {
    border-radius: 0 0 1rem 1rem;
}
.restaurant-wrapper:hover {
    transition: .5s;
    background-color: #ff7100;
    opacity: 1;
}

.restaurant-wrapper:hover .find-restaurant {
    transition: .5s;
    opacity: 1;
}
.restaurant-wrapper:not(:hover) {
    transition: .3s;
}

.find-restaurant {
    margin: 0;
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
}
.find-restaurant:hover {
    opacity: 1;
}

.tourist-attraction-list {
    display: flex;
    padding: 16px 20px 12px;
    cursor: pointer;
    /* width: 60vw; */
    /* ::marker 없앰 */
    list-style: none;
    /* border-bottom: solid 1px #cecece; */
    flex-direction: row;
    /* justify-content: center; */
}

.list-number-wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-right: 24px;
    flex-direction: column;
    justify-content: center;
}

.list-number {
    /* position: absolute; */
    font-size: 2rem;
}

.tourist-attraction-ID,
.tourist-attraction-StarRating { margin: 0; }

.auctionIDtourist-attraction-ID {
    font-size: 1.2rem;
    /*font-weight: bold;*/
    /* margin: 16px 0 5px; */
}

.tourist-attraction-StarRating {
    /* margin: 0 0 12px; */
    font-size: .9em;
    color: #808080;
    font-weight: 300;
}

.solid-line {
    margin: 0 20px;
    /*padding: 0 20px;*/
    /* width: 1500px; */
    border: 0;
    border-top: 1px solid #cecece;
}
.solid-line:nth-last-of-type(1) { display: none; }

nav#scrollTop {
    /*text-align: center;*/
    margin: 0;
    padding: 0;
}

a.scroller {
    cursor: pointer;
}

footer {
    width: 100%;
    height: 400px;
    border-top: #cecece 1px solid;
}